.table input {
	height: 1.5cm;
	width: 80%;
	margin: 3mm 0;
	color: white;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px solid white;
}

.table .submitButton {
	width: 100%;
	height: 100%;
	background-color: indigo;
	color: white;
	font-size: 25px;
}


 #dateHolder {
	text-align: center;
}

 #dateHolder select {
	 border: 1px solid white;
	 width: 3cm;
	 height: 2cm;
	 background-color: rgba(255, 255, 255, 0.1);
	 color: white;
	 font-size: 30px;
	 border-radius: 5px;
	 padding: 0 2mm;
 }
 
 #dateHolder .navigators {
	 border: 1px solid white;
	 width: 3cm;
	 height: 2cm;
	 background-color: rgba(255, 255, 255, 0.1);
	 color: white;
	 font-size: 30px;
	 border-radius: 50%;
	 padding: 0 2mm;
 }
 
 #dateHolder .navigators:active {
	 background-color: rgba(255, 255, 255, 0.3);
 }
 
 #dateHolder #backNavigator {
	 float: left;
 }
 
 #dateHolder #frontNavigator {
	 float: right;
 }
 
 