.table input {
	height: 1.5cm;
	width: 80%;
	margin: 3mm 0;
	color: white;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px solid white;
}

.table .submitButton {
	width: 100%;
	height: 100%;
	background-color: indigo;
	color: white;
	font-size: 25px;
}