<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>

	<html lang="en">
	
		<head>
		
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
			<meta name="robots" content="noindex, nofollow">
		
		</head>
	
		<body>
			
			<h1 style="text-align: center; margin: 1cm 0;">Admin Invitation</h1>
	
			<p>Dear @receiversMail</p>
			
			<br>
			
			<p>@inviterName, an admin of @businessName managed on @appName, invited you to join in administrating @businessName.</p>
			
			<br>
			
			<p>To get started, sign up on the @businessName app and accept the business invitation.</p>
			
			<br><br>
			
			<div style="width: 100%; text-align: center;">
			
				<a href="@playStoreLink">
			
					<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="width: 10cm">
			
				</a>
				
			</div>
			
			<br><br>
			
		</body>
	
	</html>