<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>

	<html lang="en">
	
		<head>
		
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
			<meta name="robots" content="noindex, nofollow">
		
		</head>
	
		<body>
			
			<h1 style="text-align: center; margin: 1cm 0;">Admin Invitation</h1>
	
			<p>@receiversName (@receiversMail)</p>
			
			<br>
			
			<p>@inviterName, an admin of @businessName managed on @appName, invited you to join in administrating @businessName.</p>
			
			<p>Log in on the @appName app to accept your invitation.</p>
			
		</body>
	
	</html>