<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>

	<html lang="en">
	
		<head>
		
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
			<meta name="robots" content="noindex, nofollow">
		
		</head>
	
		<body>
			
			<h1 style="text-align: center; margin: 1cm 0;">Confirm Email Address</h1>
	
			<p>Dear @receiversMail</p>
			
			<br>
			
			<p>You recently signed up on @appName using this email.</p>
			
			<p>Kindly confirm your email address by clicking the button below.</p>
			
			<br><br>
			
			<div id="buttonHolder" style="width: 100%; text-align: center;">
	
				<a href="@fullUrl">
			
					<button id="btnConfirm" style="background-color: green; color: white; font-weight: 300; font-size: 50px; padding: 2cm 4cm; border-radius: 10px; margin: 2cm 0;">Confirm Email</button>
			
				</a>
				
			</div>
			
			<br><br>
			
			<p>Please ignore if it wasn't you.</p>
			
			<p>Thanks</p>
	
		</body>
	
	</html>